In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
pd.set_option('display.max_columns', 500)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
test = pd.read_csv('credit_test.csv')

In [3]:
test

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314.0,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,NaN,9.0,0.0,621908.0,1058970.0,0.0,0.0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662.0,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,NaN,11.0,0.0,679573.0,904442.0,0.0,0.0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494.0,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10.0,10.0,0.0,38532.0,388036.0,0.0,0.0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242.0,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,27.0,16.0,1.0,156940.0,531322.0,1.0,0.0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992.0,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,44.0,14.0,0.0,359765.0,468072.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
test.shape

(10353, 18)

In [5]:
test.isna().sum()

Loan ID                          353
Customer ID                      353
Current Loan Amount              353
Term                             353
Credit Score                    2334
Annual Income                   2334
Years in current job             780
Home Ownership                   353
Purpose                          353
Monthly Debt                     353
Years of Credit History          353
Months since last delinquent    5659
Number of Open Accounts          353
Number of Credit Problems        353
Current Credit Balance           353
Maximum Open Credit              353
Bankruptcies                     375
Tax Liens                        354
dtype: int64

In [6]:
## Terdapat data yang hanya berisikan missing value, data tersebut dapat dihilangkan
test = test[test.isna().all(axis=1)==False]

In [7]:
test.columns = test.columns.str.lower()

In [8]:
test[test['credit score']>850].head()

,loan id,customer id,current loan amount,term,credit score,annual income,years in current job,home ownership,purpose,monthly debt,years of credit history,months since last delinquent,number of open accounts,number of credit problems,current credit balance,maximum open credit,bankruptcies,tax liens
35,f8fa11bd-d0d2-4c9f-998e-9f9d866803a7,ab86ebb2-c4f4-47dd-b430-3d6270394f8b,468908.0,Long Term,6470.0,1833842.0,8 years,Rent,other,5898.93,14.4,NaN,19.0,1.0,183863.0,809490.0,1.0,0.0
68,5caa7b9b-6313-4d33-8e01-cd3a81a1f771,1dd6d4cc-f990-4ba9-9fc7-e549b64e2165,290708.0,Short Term,7440.0,1487776.0,10+ years,Rent,Debt Consolidation,10067.15,17.1,NaN,9.0,0.0,387277.0,1047706.0,0.0,0.0
76,99565f3b-7644-4f15-b869-4bdde4cbec4e,8248911f-1a7b-442c-aada-85dfcb6cd9e1,168124.0,Short Term,7110.0,967955.0,1 year,Rent,other,14519.42,14.5,34.0,18.0,0.0,143697.0,311608.0,0.0,0.0
94,1eb4c0ae-7d6b-4764-8b74-60a24e341cd7,6d8b52bc-ace0-407b-be61-317de1f51e98,141724.0,Short Term,7150.0,847400.0,5 years,Rent,Debt Consolidation,14405.61,13.8,66.0,8.0,0.0,80750.0,102520.0,0.0,0.0
115,e1b24cf6-7a52-45fb-9819-20fec94fd46c,d706cc64-1ccd-4e69-8c71-1d12085cd3c9,490226.0,Long Term,6640.0,1896390.0,10+ years,Home Mortgage,Debt Consolidation,19912.19,14.0,NaN,7.0,0.0,75487.0,195558.0,0.0,0.0

In [9]:
## Handle credit score > 850
test['credit score'] = np.where(test['credit score']>850, test['credit score']/10, test['credit score'])

<ipython-input-9-918943cbfc97>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['credit score'] = np.where(test['credit score']>850, test['credit score']/10, test['credit score'])

In [10]:
# binning credit score
def binning_credscore(value):
    if 850.0 >= value >= 720.0 :
        result = 'Excellent'
    elif value >= 690.0 :
        result = 'Good'
    elif value >= 630.0 :
        result = 'Fair'
    elif 629.0 >= value >= 300.0  :
        result = 'Poor'

    else :
        result = 'credit score out of range'
    return result

In [11]:
test['credit score'] = test['credit score'].dropna().apply(binning_credscore)

<ipython-input-11-9ac33f5d1102>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['credit score'] = test['credit score'].dropna().apply(binning_credscore)

In [12]:
# Handle current loan amount yg nilainya 99999999
test['current loan amount'].replace(99999999,np.nan, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [13]:
# mengubah tipe data years in current job dari string menjadi float
test['years in current job'] = test['years in current job'].str.extract(r"(\d+)")
test['years in current job'] = test['years in current job'].astype(float)

<ipython-input-13-986310ca2ddd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['years in current job'] = test['years in current job'].str.extract(r"(\d+)")
<ipython-input-13-986310ca2ddd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['years in current job'] = test['years in current job'].astype(float)

In [14]:
test['purpose'].value_counts()

Debt Consolidation      7878
Home Improvements        593
other                    561
Other                    308
Business Loan            163
Buy a Car                142
Medical Bills            113
Buy House                 70
major_purchase            52
Take a Trip               44
small_business            31
moving                    14
Educational Expenses      14
wedding                   10
vacation                   6
renewable_energy           1
Name: purpose, dtype: int64

In [15]:
# Mengabungkan data other dan Other di kolom purpose
test['purpose'] = test['purpose'].replace('Other','other')
test['purpose'] = test['purpose'].replace('Take a Trip', 'vacation')

<ipython-input-15-22475b9685bf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['purpose'] = test['purpose'].replace('Other','other')
<ipython-input-15-22475b9685bf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['purpose'] = test['purpose'].replace('Take a Trip', 'vacation')

## Handling Missing Value

In [16]:
test.isna().sum()

loan id                            0
customer id                        0
current loan amount             1133
term                               0
credit score                    1981
annual income                   1981
years in current job             427
home ownership                     0
purpose                            0
monthly debt                       0
years of credit history            0
months since last delinquent    5306
number of open accounts            0
number of credit problems          0
current credit balance             0
maximum open credit                0
bankruptcies                      22
tax liens                          1
dtype: int64

In [17]:
# Kolom months since last delinquent memiliki missing value diatas 50% dari data, oleh sebab itu kolom tersebut dapat dihapus

test.drop('months since last delinquent', axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
# Kolom Tax Liens dan Bankruptcies memiliki sedikit missing value, drop missing value yang berada di kolom tersebut

test.dropna(subset=['tax liens'], inplace=True)
test.dropna(subset=['bankruptcies'], inplace=True)

<ipython-input-18-848046e40512>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.dropna(subset=['tax liens'], inplace=True)
<ipython-input-18-848046e40512>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.dropna(subset=['bankruptcies'], inplace=True)

In [19]:
# Jumlah missing value pada kolom credit score dan kolom annual income sama, mari kita cek data tersebut
test[(test['credit score'].isna()) & (test['annual income'].isna()==False)]

Empty DataFrame
Columns: [loan id, customer id, current loan amount, term, credit score, annual income, years in current job, home ownership, purpose, monthly debt, years of credit history, number of open accounts, number of credit problems, current credit balance, maximum open credit, bankruptcies, tax liens]
Index: []

Berdasarkan pengecekan, diketahui bahwa setiap missing value pada kolom credit score memiliki missing value juga pada kolom annual income.
Data tersebut dapat dihapus karena credit score dan annual income merupakan feature yang penting dalam menentukan loan status

In [20]:
test.dropna(subset=['credit score'], inplace=True)
# test.dropna(subset=['annual income'], inplace=True)

<ipython-input-20-5959e62721f5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.dropna(subset=['credit score'], inplace=True)

In [21]:
test.isna().sum()

loan id                         0
customer id                     0
current loan amount          1129
term                            0
credit score                    0
annual income                   0
years in current job          342
home ownership                  0
purpose                         0
monthly debt                    0
years of credit history         0
number of open accounts         0
number of credit problems       0
current credit balance          0
maximum open credit             0
bankruptcies                    0
tax liens                       0
dtype: int64

In [22]:
test.drop(['loan id', 'customer id'], axis=1, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [23]:
test.head()

,current loan amount,term,credit score,annual income,years in current job,home ownership,purpose,monthly debt,years of credit history,number of open accounts,number of credit problems,current credit balance,maximum open credit,bankruptcies,tax liens
0,611314.0,Short Term,Excellent,2074116.0,10.0,Home Mortgage,Debt Consolidation,42000.83,21.8,9.0,0.0,621908.0,1058970.0,0.0,0.0
1,266662.0,Short Term,Excellent,1919190.0,10.0,Home Mortgage,Debt Consolidation,36624.40,19.4,11.0,0.0,679573.0,904442.0,0.0,0.0
2,153494.0,Short Term,Good,871112.0,2.0,Rent,Debt Consolidation,8391.73,12.5,10.0,0.0,38532.0,388036.0,0.0,0.0
3,176242.0,Short Term,Excellent,780083.0,10.0,Rent,Debt Consolidation,16771.87,16.5,16.0,1.0,156940.0,531322.0,1.0,0.0
4,321992.0,Short Term,Excellent,1761148.0,10.0,Home Mortgage,Debt Consolidation,39478.77,26.0,14.0,0.0,359765.0,468072.0,0.0,0.0

In [24]:
test.to_csv('credit_test_clean.csv')